@font-face {
  font-family: 'Simply Rounded';
  src: url(fonts/Simply_Rounded.ttf), url(fonts/simply_rounded/Simply_Rounded.otf);
}

.u-font-simply-rounded.u-custom-font {
  font-family: 'Simply Rounded', sans-serif !important;
}

.u-header .u-image-1 {
  background-image: url("images/header_img01_logo_5120.jpg");
  background-position: 50% 50%;
}

.u-header .u-sheet-1 {
  min-height: 354px;
}
.u-header .u-sheet-2 {
  min-height: 117px;
}

.u-header .u-text-1 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: -705px 1302px 0 -62px;
}

.u-header .u-shape-1 {
  width: 46px;
  height: 46px;
  margin: 36px 5px 0 auto;
}

.u-header .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 248px;
  min-width: 94px;
  margin: -51px 0 0 auto;
}

.u-header .u-icon-1 {
  height: 100%;
}

.u-header .u-icon-2 {
  height: 100%;
}

.u-header .u-icon-3 {
  height: 100%;
}

.u-header .u-icon-4 {
  height: 100%;
}

.u-header .u-menu-1 {
  margin: -55px auto 0 246px;
}

.u-header .u-nav-1 {
  margin-left: 20px;
  font-size: 2.25rem;
  letter-spacing: normal;
  font-weight: 400;
}

.u-header .u-nav-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-header .u-image-2 {
  width: 24px;
  height: 24px;
  margin: -40px auto 0 405px;
}

.u-header .u-image-3 {
  width: 24px;
  height: 24px;
  margin: -24px 535px 47px auto;
}
@media (max-width: 1199px) {
  .u-header .u-sheet-1 {
    min-height: 336px;
  }
}
@media (max-width: 1199px) {
  .u-header .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 352px);
    margin-left: calc(((100% - 940px) / 2) + 588px);
  }

  .u-header .u-shape-1 {
    width: 46px;
    height: 46px;
    margin-top: 35px;
  }

  .u-header .u-social-icons-1 {
    width: 248px;
    margin-top: -49px;
  }

  .u-header .u-menu-1 {
    width: auto;
    margin-top: -55px;
    margin-left: 115px;
  }

  .u-header .u-image-2 {
    margin-left: 450px;
  }

  .u-header .u-image-3 {
    margin: -24px auto 46px 275px;
  }
}
@media (max-width: 991px) {
  .u-header .u-sheet-1 {
    min-height: 260px;
  }
}
@media (max-width: 991px) {
  .u-header .u-sheet-2 {
    min-height: 76px;
  }

  .u-header .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 16px;
    margin-right: 54px;
    margin-left: 543px;
  }

  .u-header .u-shape-1 {
    margin-top: 0;
  }

  .u-header .u-social-icons-1 {
    margin-top: 0;
    margin-left: 742px;
  }

  .u-header .u-menu-1 {
    margin: -40px 0 16px auto;
  }

  .u-header .u-image-2 {
    margin-top: 0;
    margin-left: 448px;
  }

  .u-header .u-image-3 {
    margin-left: 256px;
  }
}
@media (max-width: 767px) {
  .u-header .u-sheet-1 {
    min-height: 208px;
  }
}
@media (max-width: 767px) {
  .u-header .u-sheet-2 {
    min-height: 78px;
  }

  .u-header .u-text-1 {
    margin-top: 18px;
    margin-right: 47px;
    margin-left: 310px;
  }

  .u-header .u-menu-1 {
    margin-top: -42px;
    margin-bottom: 19px;
  }
}
@media (max-width: 575px) {
  .u-header .u-sheet-1 {
    min-height: 132px;
  }
}
@media (max-width: 575px) {
  .u-header .u-sheet-2 {
    min-height: 91px;
  }

  .u-header .u-text-1 {
    margin-top: 26px;
    margin-right: 56px;
    margin-left: 170px;
  }

  .u-header .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 75px);
  }

  .u-header .u-social-icons-1 {
    height: 57px;
    width: 257px;
    margin-right: calc(((100% - 340px) / 2) + 26px);
    margin-left: auto;
  }

  .u-header .u-menu-1 {
    margin-top: -40px;
    margin-bottom: 26px;
  }

  .u-header .u-nav-1 {
    font-weight: 400;
  }

  .u-header .u-nav-2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
  }

  .u-header .u-image-2 {
    margin-right: calc(((100% - 340px) / 2) + 50px);
    margin-left: auto;
  }
}
 .u-footer {
  background-image: url("images/rodap_img.png");
  background-position: 50% 0%;
}

.u-footer .u-sheet-1 {
  min-height: 249px;
}

.u-footer .u-shape-1 {
  width: 42px;
  height: 42px;
  margin: 86px 453px 0 auto;
}

.u-footer .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 248px;
  min-width: 94px;
  margin: -50px auto 0;
}

.u-footer .u-icon-1 {
  height: 100%;
}

.u-footer .u-icon-2 {
  height: 100%;
}

.u-footer .u-icon-3 {
  height: 100%;
}

.u-footer .u-icon-4 {
  height: 100%;
}
@media (max-width: 1199px) {
  .u-footer .u-sheet-1 {
    min-height: 205px;
  }

  .u-footer .u-shape-1 {
    width: 42px;
    height: 42px;
    margin-top: 84px;
    margin-right: 352px;
  }

  .u-footer .u-social-icons-1 {
    width: 248px;
    margin-top: -48px;
  }
}
@media (max-width: 991px) {
  .u-footer .u-sheet-1 {
    min-height: 192px;
  }

  .u-footer .u-shape-1 {
    margin-top: 75px;
    margin-right: 241px;
  }

  .u-footer .u-social-icons-1 {
    width: 248px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .u-footer .u-shape-1 {
    margin-right: 152px;
  }

  .u-footer .u-social-icons-1 {
    width: 248px;
  }
}
@media (max-width: 575px) {
  .u-footer .u-shape-1 {
    margin-top: 84px;
    margin-right: 51px;
  }

  .u-footer .u-social-icons-1 {
    width: 248px;
    margin-top: -49px;
  }
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-image-1 {
  width: 779px;
  height: 527px;
  margin: 1px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 468px;
  height: 404px;
  margin: -486px auto 0 12px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: -367px auto 0 185px;
}

.u-section-1 .u-text-2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 28px 726px 187px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-image-1 {
    width: 674px;
    height: 461px;
    object-position: 100% 50%;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    width: 381px;
    height: 329px;
    margin-top: -395px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -300px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin: 24px 616px 60px 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-image-1 {
    width: 500px;
    height: 339px;
    margin-top: 1px;
  }

  .u-section-1 .u-image-2 {
    width: 302px;
    height: 261px;
    margin-top: -287px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -240px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-right: 459px;
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-image-1 {
    width: 384px;
    left: auto;
    object-position: 0% 50%;
    right: -50px;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -324px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 320px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    width: 239px;
    height: 360px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 1px 0 0 auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -189px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -310px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 157px;
    margin-bottom: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-2 .u-video-1 {
  height: 641px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 33px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 424px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .embed-responsive-7 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-video-1 {
    height: 529px;
    margin-top: 27px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 11px;
    margin-bottom: 27px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2 .u-video-1 {
    height: 404px;
    margin-top: 14px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-video-1 {
    height: 307px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 21px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 11px 11px;
    grid-template-columns: 100%;
    min-height: 969px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1685px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 430px;
  margin: 24px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 337px;
  height: 330px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 267px;
  height: 402px;
  margin: -359px 11px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -344px auto 0 90px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 6px 284px 0 40px;
}

.u-section-3 .u-group-2 {
  width: 570px;
  min-height: 430px;
  margin: -430px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 338px;
  height: 338px;
  margin: 11px 40px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 286px;
  height: 362px;
  margin: -310px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -362px 140px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 5px 85px 0 256px;
}

.u-section-3 .u-group-3 {
  width: 570px;
  min-height: 430px;
  margin: 0 24px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 341px;
  height: 334px;
  margin: 0 4px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 330px;
  height: 338px;
  margin: -294px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -350px 75px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: -5px 30px 0 294px;
}

.u-section-3 .u-group-4 {
  width: 585px;
  min-height: 430px;
  margin: -430px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-7 {
  width: 337px;
  height: 330px;
  margin: 36px 0 0 auto;
}

.u-section-3 .u-image-8 {
  width: 323px;
  height: 362px;
  margin: -332px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -321px 69px 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 33px 0 300px;
}

.u-section-3 .u-group-5 {
  width: 570px;
  min-height: 430px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-9 {
  width: 337px;
  height: 330px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-image-10 {
  width: 246px;
  height: 316px;
  margin: -302px 40px 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -283px auto 0 40px;
}

.u-section-3 .u-text-10 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 289px 0 40px;
}

.u-section-3 .u-group-6 {
  min-height: 370px;
  width: 570px;
  margin: -430px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-11 {
  width: 337px;
  height: 330px;
  margin: 36px 0 0 auto;
}

.u-section-3 .u-image-12 {
  width: 276px;
  height: 370px;
  margin: -366px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -315px 89px 0 auto;
}

.u-section-3 .u-text-12 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 10px 35px 0 280px;
}

.u-section-3 .u-group-7 {
  min-height: 370px;
  width: 570px;
  margin: 11px auto 50px 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-13 {
  width: 337px;
  height: 330px;
  margin: 36px 0 0 auto;
}

.u-section-3 .u-image-14 {
  width: 284px;
  height: 370px;
  margin: -366px auto 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -309px 115px 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 4px 38px 0 271px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1652px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
  }

  .u-section-3 .u-image-2 {
    width: 236px;
    height: 355px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -283px;
    margin-left: 87px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 17px;
    margin-right: 226px;
    margin-left: 45px;
  }

  .u-section-3 .u-group-2 {
    width: 486px;
    min-height: 460px;
    margin-top: -422px;
  }

  .u-section-3 .u-image-3 {
    width: 367px;
    height: 354px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -326px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 98px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 36px;
    margin-left: 222px;
  }

  .u-section-3 .u-group-3 {
    width: 515px;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 276px;
    height: 283px;
    margin-top: -283px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -310px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -1px;
    margin-right: 47px;
    margin-left: 248px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -448px;
  }

  .u-section-3 .u-image-7 {
    width: 312px;
    height: 306px;
    margin-top: 34px;
    margin-right: 130px;
  }

  .u-section-3 .u-image-8 {
    width: 283px;
    height: 318px;
    margin-top: -305px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -283px;
    margin-right: 180px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 1px;
    margin-right: 150px;
    margin-left: 205px;
  }

  .u-section-3 .u-group-5 {
    width: 470px;
    margin-top: -19px;
  }

  .u-section-3 .u-image-10 {
    width: 214px;
    height: 274px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 3rem;
    width: auto;
    margin-top: -242px;
    margin-left: 51px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 15px;
    margin-right: 229px;
    margin-left: 51px;
  }

  .u-section-3 .u-group-6 {
    width: 470px;
  }

  .u-section-3 .u-image-12 {
    width: 222px;
    height: 297px;
    margin-top: -330px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -279px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 6px;
    margin-right: 40px;
    margin-left: 227px;
  }

  .u-section-3 .u-group-7 {
    width: 481px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -313px;
    margin-right: 89px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 29px;
    margin-left: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2704px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -33px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 346px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -299px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-right: 29px;
    margin-left: 266px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -788px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -279px;
    margin-right: 117px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
    margin-right: 97px;
  }

  .u-section-3 .u-group-5 {
    width: 511px;
    margin-top: 272px;
  }

  .u-section-3 .u-image-10 {
    height: 275px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -246px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 11px;
    margin-right: 238px;
    margin-left: 45px;
  }

  .u-section-3 .u-group-6 {
    width: 570px;
    margin-top: -37px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 84px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 11px;
    margin-right: 34px;
    margin-left: 287px;
  }

  .u-section-3 .u-group-7 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-top: -347px;
    margin-right: 73px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 6px;
    margin-right: 34px;
    margin-left: 235px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -285px;
    margin-right: 73px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 34px;
  }

  .u-section-3 .u-group-4 {
    width: 540px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 35px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-8 {
    width: 248px;
    height: 278px;
    margin-top: -306px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -244px;
    margin-right: 110px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 2px;
    margin-right: 75px;
    margin-left: 234px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 270px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -303px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -238px;
    margin-left: 55px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 237px;
  }

  .u-section-3 .u-group-6 {
    width: 540px;
    margin-top: -35px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 20px;
    margin-left: 265px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 23px;
    margin-left: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2805px;
  }

  .u-section-3 .u-group-1 {
    min-height: 328px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 262px;
    height: 257px;
  }

  .u-section-3 .u-image-2 {
    width: 179px;
    height: 269px;
    margin-top: -286px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -204px;
    margin-left: 62px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-right: 174px;
    margin-left: 24px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    width: 255px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 179px;
    height: 227px;
    margin-top: -227px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -240px;
    margin-right: 82px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-right: 26px;
    margin-left: 151px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -147px;
    min-height: 373px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    width: 271px;
    height: 265px;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 199px;
    height: 204px;
    margin-top: -134px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -313px;
    margin-right: 80px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-right: 43px;
    margin-left: 113px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-7 {
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    width: 206px;
    height: 232px;
    margin-top: -183px;
    margin-left: -36px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -328px;
    margin-right: 59px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 6px;
    margin-right: 24px;
    margin-left: 140px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-10 {
    width: 183px;
    height: 233px;
    margin-top: -176px;
    margin-right: 76px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -352px;
    margin-left: 76px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 35px;
    margin-left: 40px;
  }

  .u-section-3 .u-group-6 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-12 {
    width: 156px;
    height: 209px;
    margin-top: -219px;
    margin-left: -6px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -295px;
    margin-right: 94px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-right: 32px;
    margin-left: 150px;
  }

  .u-section-3 .u-group-7 {
    margin-top: 108px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-14 {
    width: 183px;
    height: 238px;
    margin-top: -273px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -279px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.5rem;
    margin-top: 11px;
    margin-right: 28px;
    margin-left: 143px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-image-1 {
  width: 324px;
  height: 315px;
  margin: -391px 0 0 auto;
}

.u-section-4 .u-form-1 {
  height: 451px;
  width: 282px;
  margin: -1243px auto 0;
}

.u-section-4 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-4 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-4 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-4 .u-btn-1 {
  box-shadow: 5px 5px 0px 0 rgba(146,91,0,1);
  background-image: none;
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-4 .u-image-2 {
  width: 468px;
  height: 455px;
  margin: 42px 76px 0 auto;
}

.u-section-4 .u-form-2 {
  height: 455px;
  margin: -420px 126px 0 630px;
}

.u-section-4 .u-input-4 {
  font-size: 1.125rem;
}

.u-section-4 .u-input-5 {
  font-size: 1.125rem;
}

.u-section-4 .u-input-6 {
  font-size: 1.125rem;
}

.u-section-4 .u-btn-2 {
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 5px 5px 0px 0 rgba(146,91,0,1);
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 40%;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -418px 611px 60px 218px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -1236px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 39px;
  }

  .u-section-4 .u-form-2 {
    height: 461px;
    margin-top: -427px;
    margin-right: 118px;
    margin-left: 438px;
  }

  .u-section-4 .u-btn-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -415px;
    margin-right: 585px;
    margin-left: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -721px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 68px;
    margin-right: 0;
  }

  .u-section-4 .u-form-2 {
    height: 455px;
    margin-top: -429px;
    margin-right: 50px;
    margin-left: 285px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -390px;
    margin-right: 485px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -723px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 153px;
    margin-right: auto;
  }

  .u-section-4 .u-form-2 {
    width: 385px;
    margin-top: -425px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 385px;
    margin-top: -610px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 207px;
    margin-right: auto;
  }

  .u-section-4 .u-form-1 {
    height: 311px;
    margin-top: -297px;
    margin-right: 45px;
    margin-left: 29px;
  }

  .u-section-4 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    width: 45%;
    padding: 10px 31px 10px 30px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 331px;
    margin-top: -5970px;
  }

  .u-section-4 .u-form-2 {
    height: 451px;
    width: 282px;
    margin-top: 10px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.875rem;
    padding-right: 31px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -540px;
    margin-left: 27px;
    margin-right: 27px;
  }
}

video {
  width: 100%;
}
#playlist {
  width: 100%;
  margin-top: 10%;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.active a {
  color: #5db0e6;
  text-decoration: none;
}
li a {
  color: #eeeedd;
  background: #333;
  padding: 12px;
  display: block;
}
li a:hover {
  text-decoration: none;
}
